body,
html {
	overflow: auto;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	display: flex;
	float: left;
	list-style-type: none;
	margin: 0.1%;
	padding: 2px;
	overflow: hidden;

}

ul.right-bar {
	display: flex;
	position: inherit;
	list-style-type: none;
	float: right;
	top: 0;
}

/* https://dev.to/ljcdev/hamburger-css-no-js-2dfa this is a burger menu alternative? */
/* the following css is derived from https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
.navbar {
	z-index: 3;
	overflow: hidden;
	background-color: #336600;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a {
	display: block;
	color: #d9ffb3;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 5px;
}

.navbar a:hover {
	background-color: #1a3300;
	color: white;
}

.blur-container {
	overflow: hidden;
}

.blur-image {
	background-image: "placeholder.jpg";
	filter: blur(8px);
	-webkit-filter: blur(8px);
	/* for compatibility with older browsers */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

iframe {
	z-index: 1;
	width: 100%;
	height: 100vh;
	border: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
  overflow-y: hidden;
}

div.overview-grid-top{
  display:grid;
  background-color:gray;
  grid-template-columns: 33% 66%;
}

div.overview-grid-bottom{
  display:grid;
  background-color:gray;
  grid-template-columns: 66% 33%;
}

div.overview-content{
  text-align: center;
}
.containerFaridz {
	width: 75%;
	margin: auto;
	overflow: hidden;
}
.button_containerFaridz {
	text-align: center;
}   
.mailto_buttonFaridz {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	color: #ea50c6;
	background-color: #ae298f;
	border: #fff;
	border-radius: 4px;
	cursor: pointer;

}
table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	background: #fff;
	border-radius: 8px;
}
th, td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #777676;
	border-left: 1px solid #777676; 
	border-right: 1px solid #777676;
	border-top: 1px solid #555353;
}
th {
	background-color: #d4d197;
	color: #333;
}
td {
	background-color: #fff;
}
